.body {
    background-image: url("img/niveau1/background_niveau_1.svg");
}

.nom_jeux {
    left: 10%; 
    position: absolute;
    border: 0px;
    background-color: transparent;
    width: 80%;
    height: 44%;
}

.separation {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 5px;
    position: absolute;
    bottom: 0px;
    left: 48.5%;
    transition: 1.2s;
    box-shadow: 0 5px 50px 0 #3196d1 inset, 0 5px 50px 0 #3196d1;
}

.separation_horizontal {
    background-color: rgb(255, 255, 255);
    height: 5px;
    width: 600px;
    position: absolute;
    bottom: 70%;
    left: 34%;
    transition: 1.2s;
    box-shadow: 0 5px 50px 0 #3196d1 inset, 0 5px 50px 0 #3196d1;
}

.bp_restart {
    background-color: transparent;
    border: 0px;
    margin: 0px;
    position: absolute;
    top: 45%;
    left: 45%;
}

.bp {
    background-color: transparent;
    border: 0px;
}

.bouton {
    background-color: transparent;
    color: white;
    border: 0px;
}
